@charset "UTF-8";

html, body {
  height: 100%;
  font-family: Tahoma;
}

body {
  font-size: 14px;
  background: #e7e7e7;
}

*, *:before, *:after {
  box-sizing: border-box;
}

#app {
  background: white;
}
